<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.vermouth.repository.FaqMapper">
    <select id="getFaqList" resultType="FaqVO">
        SELECT *
        FROM(
            SELECT RANK() OVER(ORDER BY update_date DESC, title, id) rank, SN_FAQ.*
            FROM SN_FAQ
        ) faq
        WHERE rank BETWEEN #{first} AND #{last}
        ORDER BY update_date DESC, title, id
    </select>
</mapper>